<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>D3 Tweets</title>
</head>
<body class="container">
    <header>
    </header>

    <main>
        <div><%= title %></div>
    </main>

    <footer>
    </footer>
</body>
</html>
